@model AutoInsuranceWeb.Models.IssueBooksToDSA

@{
    ViewBag.Title = "Create";
}

 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <input type="hidden" name="uid" value="@ViewBag.uid" />
            <h4>IssueBooksToDSA</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.IssueTo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.IssueTo, ViewBag.UsersList as SelectList, "--Select--", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IssueTo, "", new { @class = "text-danger" })
                </div>
            </div>
         
            <div class="form-group">
                @Html.LabelFor(model => model.CourierCompanyID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.CourierCompanyID, ViewBag.CourierList as SelectList, "--Select--", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CourierCompanyID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TrackingID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.TrackingID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TrackingID, "", new { @class = "text-danger" })
                </div>
            </div>

          

            <div class="form-group">
                @Html.LabelFor(model => model.SendToAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SendToAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SendToAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Status, ViewBag.DeliveryStatus as SelectList, "--Select--", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

           

            <div class="form-group">
                @Html.LabelFor(model => model.StartSNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @foreach (var item in ViewBag.StartSNo)
                    {
                        <div class="col-md-2">
                            <label>
                                <input type="checkbox" name="StartSNo" value="@item.StartSNo">
                                @item.StartSNo
                            </label>
                        </div>
                    }
                </div>
            </div>

           

            <div class="form-group">
                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IssuedFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IssuedFrom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IssuedFrom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <input type="hidden" name="Userrole" value="DSA" />
    @if (User.IsInRole("MIS"))
    {
        <input type="hidden" name="Userrole" value="MIS" />
    }

    </section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    var Resources = {
        ValidateBookTitle: '@Resources.content.ValidateBookTitle',
        SerialNumbarValidation: '@Resources.content.SerialNumbarValidation',
        BookID:0
    };
    $(document).ready(function () {
        if ($("#Userrole").val() == "MIS") {
            $("#IssueTo").change(function () {
                location.href = "/IssueBooksToDSAs/Create?uid=" + $(this).val();
            });
        }
        else {

            $("#IssueTo").change(function () {
                $.ajax({
                    url: "/IssueBooksToROes/GetUserAddress",
                    type: "GET",
                    data: { id: $(this).val() },
                    success: function (data) {
                        $("#SendToAddress").val(data);
                    }
                });
            });
        }

        
    });
</script>

<script src="~/Content/CustomJs/IssueBooksToDSAs.js"></script>
